span{
    border: 2px solid black;
    height: 100px;
    width: 200px;
    padding: 20px;
    margin: 30px;
}

div{
    border: 2px solid black;
    height: 100px;
    width: 200px;
    padding: 20px;
    margin: 30px;

}